.Row {
	margin: 0 0 20px 0;
	display: block;
}

.Row div {
    vertical-align: top;
}

.Row div:first-child {
	margin-left: 0px;
}
.Row div:last-child {
	margin-right: 0px;
}

.A1, .A2, .Z2, .A3, .Z3, .A4, .Z4, .A5, .Z5, .A6, .Z6 {
	display: inline-block;
    /*margin-left: 10px;*/
}

.Row > div + div {
	padding:0 5px;
}


.A1 {
	width: 100%;
}

.A2 {
	width: 50%;
}

.Z2 {
	width: 50%;
}

.A3 {
	width: calc(100%/3 - 10px);
	width: -moz-calc(100%/3 - 10px);
}

.Z3 {
	width: calc(100% - 100%/3 - 10px);
	width: -moz-calc(100% - 100%/3 - 10px);
}

.A4 {
	width: calc(100%/4 - 10px);
	width: -moz-calc(100%/4 - 10px);
}

.Z4 {
	width: calc(100% - 100%/4 - 10px);
	width: -moz-calc(100% - 100%/4 - 10px);
}

.A5 {
	width: calc(100%/5 - 10px);
	width: -moz-calc(100%/5 - 10px);
}

.Z5 {
	width: calc(100% - 100%/5 - 10px);
	width: -moz-calc(100% - 100%/5 - 10px);
}

.A6 {
	width: calc(100%/6 - 10px);
	width: -moz-calc(100%/6 - 10px);
}

.Z6 {
	width: calc(100% - 100%/6 - 10px);
	width: -moz-calc(100% - 100%/6 - 10px);
}
